<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= htmlWebpackPlugin.options.GOOGLE_ANALYTICS_SCRIPT %>
    <script type="application/javascript">
        // todo Move to the index.js maybe
        if (<%= htmlWebpackPlugin.options.PRODUCTION %>) {
            //analytics thing :) just for spying, no worries
             window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-2SX0978G4B');
        }
    </script>

    <noscript>
        JavaScript is not required to render this page :)
    </noscript>
</head>
<body class="w3-light-grey">
    <div class="main"></div>
</body>
</html>
