@import "./../vars";

.cv-list-item {
  @media print {
    & {
      font-size: 12px;
      page-break-inside: avoid;
      margin-bottom: 5px !important;
    }
  }

  .item-key, .item-value {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-right: 10px;
  }
}