.list-item {
  .item-key, .item-value {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  .item-key {
    font-weight: bold;
    width: 30vw;
  }

  .item-value {
    width: 50vw;
  }
}