@import "./../vars";

.list-item {
  margin-bottom: 20px;

  .item-key, .item-value {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  .item-key {
    width: 30vw;
    color: $header-text-color;
  }

  .item-value {
    width: 50vw;
  }
}