.certificates {
  .section-list-item {
    .certificate-title {
      margin-bottom: 10px;
      text-decoration: underline;
    }

    .company-name {
      margin-bottom: 10px;
      font-style: italic;
    }

    @media print {
      .title, .company-name {
        margin-bottom: 2px;
      }
    }
  }
}