@import "../../styles/vars";

.cv-section {
  .cv-section-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: $primary-color;

    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;

    @media print {
      & {
        font-size: 15px;
        margin-bottom: 2px;
      }
    }
  }

  @media print {
    & {
      margin-bottom: 2px !important;
    }
  }
}