.cv-section {
  .cv-section-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;

    @media print {
      & {
        font-size: 15px;
        margin-bottom: 2px;
      }
    }
  }

  @media print {
    & {
      margin-bottom: 2px !important;
    }
  }
}