.cv-section {
  margin: 5px 0 20px 0;

  .cv-section-title {
    width: 90%;
    margin: 0 auto 10px auto;
    text-align: center;
    color: #a0694c;
    font-size: 18px;
  }

  .cv-section-content {
    padding: 0 20px 0 20px;
  }
}