@import "../../styles/vars";

.footer {
  color: $primary-text-color;
  padding: 8px 16px !important;

  @media print {
    & {
      display: none;
    }
  }

  .github-icon {
    height: 1em;
  }

  .github-link, .github-icon {
    vertical-align: middle;
  }
}