.header {
  text-align: center;

  .user-name {
    font-size: 24px;
  }

  .position {
    font-size: 18px;
  }

  @media print {
    .user-name {
      font-size: 25px;
    }

    .position {
      font-size: 15px;
    }
  }
}