@import "./../vars";

.header {
  margin: 0 auto 10px auto;
  text-align: center;
  color: $header-text-color;
  border-top: solid $delimiter-color 1px;
  border-bottom: solid $delimiter-color 1px;
  padding-top: 10px;
  padding-bottom: 10px;

  .user-name {
    font-size: 24px;
  }

  .position {
    font-size: 18px;
  }
}