@import "./../vars";

.header {
  margin: 0 auto 20px auto;
  text-align: center;
  color: $header-text-color;

  .user-name {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid $delimiter-color 1px;
    border-bottom: solid $delimiter-color 3px;
    font-size: 32px;
  }

  .position {
    font-size: 24px;
  }
}