.history, .education {
  .list-item {
    .title {
      margin-bottom: 10px;
    }
    .company-name {
      margin-bottom: 10px;
      font-style: italic;
    }

    @media print {
      .title, .company-name {
        margin-bottom: 5px;
      }
    }

    .description {
      word-break: break-word;
    }
  }
}