.history, .education {
  .history-section {
    margin-bottom: 32px;
  }

  .list-item {
    .company-name {
      font-style: italic;
    }

    .title {
      text-decoration: underline;
    }

    .item-value {
      .description {
        padding-left: 0;
      }
    }

    @media print {
      .title, .company-name {
        margin-bottom: 5px;
      }
    }
  }
}