@import "vars";
@import "Print";

@import "~bulma/bulma";

.is-primary {
  background-color: $primary-color !important;
}

body {
  font-family: $main-font-family;

  .main {
    a, a:visited {
      color: inherit;
      text-decoration: underline;
    }
  }

  @media print {
    * {
      box-shadow: none !important;
    }

    .sections {
      padding: 0;
    }
  }
}