@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars";
@import "Print";

body {
  .main {
    a, a:visited {
      color: inherit;
    }
  }

  @media print {
    * {
      box-shadow: none !important;
    }

    &.w3-light-grey {
      background-color: #FFFFFF !important;
    }
    .sections {
      padding: 0;
    }
  }
}