.main {
  @media print {
    .w3-container {
      padding-left: 2px;
      padding-right: 2px;
    }

    .w3-content {
      margin-left: 0;
      margin-right: 0;
    }

    h2 {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }

  @media print and (min-width: 500px) {
    .w3-quarter {
      width: 25% !important;
    }

    .w3-threequarter {
      width: 74% !important;
    }
  }
}