@media print {
  .w3-margin-bottom {
    margin-bottom: 8px !important;
  }
  .w3-margin-top {
    margin-bottom: 8px !important;
  }

  .w3-container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .w3-padding {
    padding: 4px 8px!important;
  }

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}